<h1> categories
  </h1>

<% @category.bookmarks.each do |bookmark| %>
      <div class="card-trip">

        <img src="<%= bookmark.recipe.image_url%>">

        <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{bookmark.recipe.name} from your #{@category.name} list"}, class: 'btn-delete' do %>
          <i class="fa-solid fa-trash"></i>DELETE
        <% end %>

        <div class="card-trip-description">
          <h2><%= bookmark.recipe.name %></h2>
          <p><%= bookmark.recipe.description.truncate(300) %></p>
        </div>

        <div class="card-trip-infos">
          <div>
              <i class="fas fa-quote-left me-2"></i><%= bookmark.comment %>
          </div>
            <%= bookmark.recipe.rating %> <%= 'â­' * bookmark.recipe.rating.floor %>
          </div>
        </div>

      </div>
    <% end %>
